@import 'styles/variables.scss';

.reviewWorkWrap {
  margin-top: 50px;
  background: black url('/images/company-page/review-work-block/platform.png');
  background-position: bottom right -200px;
  background-repeat: no-repeat;
  padding: 10% 20px 50%;
  background-size: contain;

  h2 {
    color: $white;
    font-weight: 700;
  }
}

@media only screen and (max-width: $mobile) {
  .reviewWorkWrap {
    background-position: bottom right -100px;
  }
}
